torch==2.3.1
chroma-haystack==0.22.1
datasets
haystack-ai==2.6.1
packaging
wheel
accelerate==0.27.2
nltk==3.8.1
numpy==1.26.4
pandoc==2.3
pypandoc==1.13
unstructured==0.12.4
wheel==0.42
protobuf==5.27.1
sentence-transformers==3.2.0
Flask-Cors~=4.0.0
Flask[async]~=3.0.2
PyJWT~=2.8.0
wikipedia
ebooklib
trafilatura
lxml_html_clean
python-docx
pypdf
hypercorn
sentencepiece
