accelerate[torch]~=0.28.0
argparse~=1.4.0
cryptography~=42.0.5
ctransformers==0.2.27
Flask-Cors~=4.0.0
Flask[async]~=3.0.2
gunicorn~=21.2.0
hypercorn~=0.16.0
langchain-huggingface==0.0.3
PyJWT~=2.8.0
tokenizers~=0.19.1
torch~=2.2.1
transformers~=4.39
faiss-cpu==1.7.4
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.7
langdetect==1.0.9
nltk==3.8.1
numpy==1.26.4
pandoc==2.3
pypandoc==1.13
sentence-transformers==2.6
unstructured==0.12.4
protobuf==5.27.1
