accelerate[torch]~=0.28.0
argparse~=1.4.0
cryptography~=42.0.5
ctransformers==0.2.27
faiss-cpu==1.7.4
Flask-Cors~=4.0.0
Flask[async]~=3.0.2
gunicorn~=21.2.0
hypercorn~=0.16.0
langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langdetect==1.0.9
nltk==3.8.1
numpy==1.26.4
pandoc==2.3
PyJWT~=2.8.0
pypandoc==1.13
sentence-transformers==2.3.1
tokenizers~=0.15.2
torch~=2.2.1
transformers~=4.38.2
unstructured==0.12.4
