accelerate==0.27.2
ctransformers[cuda]==0.2.27
faiss-gpu==1.7.2
flash_attn==2.5.5
langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langdetect==1.0.9
nltk==3.8.1
numpy==1.26.4
pandoc==2.3
pypandoc==1.13
sentence-transformers==2.3.1
torch==2.2.0
transformers==4.37.2
unstructured==0.12.4
wheel==0.42
